
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');


* {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding:0;
    margin:0;
  }
  
  body,
  input,
  textarea,
  button {
      font-family: "Libre Baskerville", serif;
  }
  
  #big-title {
    font-size: 50px;
  }
  
  form {
    margin: 3rem 0;
    border-radius: 0.5rem;
    background: #ffffff;
    box-shadow: 28px 28px 56px #d9d9d9, -28px -28px 56px #ffffff;
  }
  
  fieldset {
    border: none;
  }
  
  legend {
    font-size: 0;
  }
  
  input {
    width: 50px;
    height: 50px;
    font-size: 1rem;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0.5rem;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  28px 28px 56px #d9d9d9, -28px -28px 56px #ffffff;
  }
  
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  .bg {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-image: url(szuli_bg.png);
    opacity: 0.1;
  }

  .button {
    display: inline-block;
    margin-top:20px;
    padding:20px 25px;
    background:#b76e79;
    color:black;
    font-size:20px;
    cursor: pointer;
  }

  .big-logo {
    width:150px;
  }

  .sub-title {
    display: inline-block;
    margin-bottom:15px;
  }

  .container {
    width:90%;
    margin-left:auto;
    margin-right:auto;
  }